{% extends 'base.html.twig' %}

{% block body %}
    <h5>Welkom bij Stock!</h5>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-block btn-success mb-4 scan">Scan</button>
            <input type="text" id="scan_input" class="form-control" autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 scan_output">

            <div class="scan_output-modal modal fade" id="scan_output-modal" tabindex="-1" role="dialog" aria-labelledby="scan_output-modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="scan_output-modalLabel">Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            data not found
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Afsluiten</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
