* {
    font-family: 'Raleway', sans-serif;
}

/* Navbar */
.navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom: 0 !important;
    height: 40px;
}

.navbar-light {
    background-color: #e74c3c;
    border-color: #c0392b;
}

.navbar-light .navbar-brand {
    color: #ecf0f1!important;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar-light .navbar-text {
    color: #ecf0f1!important;
}

.navbar-light .navbar-nav > li > a {
    color: #ecf0f1!important;
}

.navbar-light .navbar-nav > li > a:hover,
.navbar-light .navbar-nav > li > a:focus {
    color: #ffbbbc;
}

.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}

.navbar-light .navbar-nav > .open > a,
.navbar-light .navbar-nav > .open > a:hover,
.navbar-light .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}

.navbar-light .navbar-toggler {
    border-color: #c0392b;
    color: black;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
    background-color: #c0392b;
}

.navbar-light .navbar-toggler .icon-bar {
    background-color: #ecf0f1;
}

.navbar-light .navbar-collapse,
.navbar-light .navbar-form {
    border-color: #ecf0f1;
}

.navbar-light .navbar-link {
    color: #ecf0f1;
}

.navbar-light .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-light .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    #navbarNav > ul > li.nav-item > a {
        padding-left: 8px;
    }
}
/* Sidebar */
/* List group */
.sidebar .list-group > a {
    color: #ecf0f1;
}
.sidebar .list-group > a:hover {
    color: #ffbbbc;
}
.sidebar .list-group > a.active {
    background-color: #e74c3c;
    border: none;
    font-weight: bolder;
}
.sidebar .credits {
    font-size: 14px;
    color: #c2c2c2;
}

/* Card */
.card > .card-header {
    background-color: #e74c3c;
    border: none;
}

/* Home */
