<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #26354A">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-1" style="width: 203px;" href="{{ path('admin') }}">
        <span class="menu-collapsed">{{ websitename }}</span>
    </a>
    <span class="text-white">{{ title|default('SET TITLE') }}</span>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {#MOBILE NAVBAR#}
            <li class="nav-item dropdown d-sm-block d-md-none">
                <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Artikelen
                </a>
                <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                    <a class="dropdown-item" href="">Artikelen</a>
                    <a class="dropdown-item" href="">Categoriën</a>
                </div>
            </li>

        </ul>
    </div>
</nav>