{% if found == true %}
    <tr data-id="{{ product.id }}">
        <td>{{ product.name }}</td>
        <td>{{ product.code }}</td>
        <td><p class="m-0 text-white font-weight-bold scan_multiple_delete-button">Verwijder</p></td>
    </tr>
{% else %}
    <tr>
        <td><div class="alert-danger p-1 text-white">Product niet gevonden!</div></td>
        <td></td>
        <td></td>
    </tr>
{% endif %}