<div class="col-lg-2 offset-lg-1 col-sm-12 pb-3 pb-lg-0 d-none d-md-block sidebar">
    <div class="list-group">
        <a href="{{ path('admin_home_index') }}" class="{% if app.request.attributes.get( '_route' ) starts with 'admin_home_' %}active{% endif %} nav-link list-group-item d-flex justify-content-between align-items-center">
            Home
{#            <span class="badge badge-light badge-pill">14</span>#}
        </a>
        <a href="" class="{% if app.request.attributes.get( '_route' ) starts with 'admin_product_' %}active{% endif %} nav-link list-group-item d-flex justify-content-between align-items-center">
            Producten
{#            <span class="badge badge-light badge-pill">14</span>#}
        </a>
        <a href="" class="{% if app.request.attributes.get( '_route' ) starts with 'admin_user_' %}active{% endif %} nav-link list-group-item d-flex justify-content-between align-items-center">
            Gebruikers
{#            <span class="badge badge-light badge-pill">14</span>#}
        </a>
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <p class="credits">
                <b>Made by:</b> Michel<br>
                <b>Version:</b> 0.1
            </p>
        </div>
    </div>
</div>