{% extends 'admin/base.html.twig' %}

{% block body %}
    <p>You can create, delete or update pages here.</p>

    <a href="" class="btn btn-primary btn-sm">{{ 'page_create'|trans }}</a>
{% endblock %}
